.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 9.5rem;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.logo img {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
}
