@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins|Dyuthi|Philosopher");
body {
  margin: 0;
  background: rgb(235, 236, 233);
  font-family: Poppins;
}
/* ------------------------------- Animations ---------------------- */
.AUL {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(70, 70, 70);
  font-size: 0.8rem;
}
.AUL:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  top: 20px;
  background-color: var(--red);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.AUL:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* make variables */
:root {
  --yellows: rgb(254, 164, 0);
  --gray: rgb(156, 156, 156);
  --orange: #f48915;
  --darkGrey: #464d53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
  --appColor: rgb(70, 70, 70);
  --red: rgb(255, 1, 62);
  --button: #3f4450;
  --success: #2e7d32;
  --secondary: #9c27b0;
  --pinks: #c7134f;
  --green: #00a68d;
  --warning: #ed6c02;
}
